
@import "tailwindcss";

html{
    scroll-behavior:smooth;
}

body{
    font-family:Inter,sans-serif;
}

.container{
    max-width:1400px;
    margin:auto;
    padding-inline:1.5rem;
}

.section{
    padding:7rem 0;
}

.btn{
    @apply  items-center justify-center rounded-xl px-6 py-3 font-semibold transition-all duration-300;
}

.btn-primary{
    @apply bg-amber-500 text-white hover:bg-amber-600;
}

.btn-secondary{
    @apply border border-slate-300 hover:bg-slate-100;
}

#navbar{

transition:.35s;

}

#navbar.scrolled{

background:rgba(255,255,255,.9);



backdrop-filter:blur(20px);

box-shadow:0 20px 40px rgba(0,0,0,.08);

}

/* logo and menu bar colors */
.logo-primary{
    color:white;
    transition:.3s;
}

.menu-btn{
    color:white;
    font-size:2rem;
    transition:.3s;
}

#navbar.scrolled .logo-primary{
    color:#0f172a;   /* slate-900 */
}

#navbar.scrolled .menu-btn{
    color:#0f172a;
}

.nav-link{
    position:relative;
    transition:.3s;
}

/* Navigation Link Underline */
.nav-link::after{

    content:"";

    position:absolute;


    
    left:50%;
    bottom:-8px;

    width:0;
    height:3px;

    transform:translateX(-50%);

    background:#f59e0b;

    border-radius:999px;

    box-shadow:
        0 0 10px #f59e0b,
        0 0 20px rgba(245,158,11,.6);

    transition:.3s;
}

.nav-link:hover{

    color:#fbbf24;

    text-shadow:0 0 12px rgba(245,158,11,.5);

}

.nav-link:hover::after{

    width:100%;

}




/* HERO IMAGE */

#hero img{

    animation:float 6s ease-in-out infinite;

    filter:

        drop-shadow(0 40px 80px rgba(0,0,0,.45));

}

/* HERO HEADLINE */

#hero h1{

    letter-spacing:-3px;

}

/* Glass Cards */

.glass{

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(18px);

    border:1px solid rgba(255,255,255,.12);

    box-shadow:

        0 10px 40px rgba(0,0,0,.25);

}


/* ============================
   Hero Animations
============================ */

@keyframes float {

    0%,100%{
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }

}

#hero img{

    animation:float 5s ease-in-out infinite;

}

/* reveal */

.reveal{
    opacity:0;
    transform:translateY(60px);
    transition:
        opacity .8s ease,
        transform .8s ease;
}

.reveal.active{
    opacity:1;
    transform:none;
}

.btn{

transition:.35s;

}

.btn:hover{

transform:translateY(-4px);

box-shadow:

0 18px 45px rgba(245,158,11,.35);

}





